/* Body */

html {
  /* background-color: rgb(37, 36, 36); */
}


/* Navbar */

.navbar {
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: transparent;
  }

  .navbar-brand {
    font-size: 24px;
    /* color: white !important; */
  }
  
.nav-link {
  font-size: 18px;
  /* color: white !important; */
}

  /* Jumbrotron */

  .jumbotron {
    background-image: url("https://wallpapercave.com/wp/wp2783998.jpg");
    background-size: 60% 120%;
    background-repeat: no-repeat;
    background-position: right;
  }

  .display-4 {
    color: black;
  }
