/* Navbar */

.navbar {
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: transparent;
  }

  .navbar-brand {
    font-size: 24px;
    color: green !important;
  }
  
.nav-link {
  color: green !important;
  font-size: 18px;
}

  /* Jumbrotron */

  .jumbotron {
    background-image: url("https://wallpapercave.com/wp/wp2783998.jpg");
    background-size: 63% 120%;
    background-repeat: no-repeat;
    background-position: right;
  }

  .display-4 {
    color: green;
  }
